<mat-card class="m-4 p-4">
  <h3>
    Project that outputs the pair of employees who have worked together the longest
    <h5 class="text-primary">{{ title }}</h5>
  </h3>

  <p>Upload CSV File:</p>
  <input type="file" accept=".csv" (change)="onCsvUpload($event)" class="mb-3" />

  @if (csvProcessed()) {
    @if (pairwiseSignal().length > 0) {
      <table mat-table [dataSource]="pairwiseSignal()" class="mat-elevation-z8 full-width">
        <!-- Employee 1 Column -->
        <ng-container matColumnDef="EmpID1">
          <th mat-header-cell *matHeaderCellDef>Emp #1</th>
          <td mat-cell *matCellDef="let element">{{ element.EmpID1 }}</td>
        </ng-container>

        <!-- Employee 2 Column -->
        <ng-container matColumnDef="EmpID2">
          <th mat-header-cell *matHeaderCellDef>Emp #2</th>
          <td mat-cell *matCellDef="let element">{{ element.EmpID2 }}</td>
        </ng-container>

        <!-- Project ID Column -->
        <ng-container matColumnDef="ProjectID">
          <th mat-header-cell *matHeaderCellDef>Project ID</th>
          <td mat-cell *matCellDef="let element">{{ element.ProjectID }}</td>
        </ng-container>

        <!-- Days Worked Together Column -->
        <ng-container matColumnDef="DaysWorkedTogether">
          <th mat-header-cell *matHeaderCellDef>Days Worked Together</th>
          <td mat-cell *matCellDef="let element">{{ element.DaysWorkedTogether }}</td>
        </ng-container>

        <!-- Header and Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [class.highlight]="
            row.EmpID1 === globalMaxPair()?.EmpID1 &&
            row.EmpID2 === globalMaxPair()?.EmpID2 &&
            row.ProjectID === globalMaxPair()?.ProjectID
          "
        ></tr>
      </table>
    } @else {
      <div class="text-center text-muted mt-3">
        No overlapping working days found between employees.
      </div>
    }
  }
</mat-card>